.nav {
  overflow: hidden;
  background-color: rgb(10, 239, 247);
}

.nav a {
  float: left;
  color: #0f0e0f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 100px;
  margin-left: 90px;
}

.nav a:hover {
  background-color: rgb(8, 235, 84);
  color: black;
}

.logo {
  height: 50px;
  pointer-events: none;
}
.lo {
  display: flex;
  text-transform: uppercase;
  list-style: none;
}

li a:hover {
  background-color: #111;
}



